SUPABASE_URL=https://ambcdsdgfbukksgdjvah.supabase.co
SUPABASE_SERVICE_ROLE_KEY=sb_publishable_VePBgfDEXzYBkbpYJAYu1A_vC5_K1Hp
PAYHERE_MERCHANT_ID=changeme
PAYHERE_SECRET=changeme
FCM_SERVER_KEY=changeme
